$bg-color: #519569;

.Button {
  background-color: rgb(14, 6, 6);
  background-color: #28d2d2; //Start
  background-color: $bg-color; //guess

  margin: 17px auto;
  border-radius: 6px;
  padding: 8px 10px;
  min-width: 180px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: white;

  text-transform: uppercase;

  .btn-text {
    display: flex;
    align-self: center;
  }

  &:hover {
    background-color: lighten($bg-color, 10);
  }
}
