.AnimationsDisplay {
  position: absolute;
  top: 12%;
  left: 50%;
  margin-left: -45px;
  //margin-top: 580px;
  width: 90px;
  height: 105px;
  //border: 1px solid black;
  //animation-name: test;
  border: 1px solid rgb(158, 158, 158);
  display: flex;
  justify-content: center;
  overflow: hidden;

  opacity: 0;
  border-radius: 13px;
  z-index: 500;
  background-color: #333a42;
  background-color: #ffffff10;
  transition: 1s backgroundColor ease-in;

  // .activate-game-end {
  //   background-color: #ffffff;
  // }

  &.showToken {
    opacity: 1;
    transition: 3.5s opacity ease-in;
  }

  div {
    //background-color: rgb(223, 137, 25);
    position: relative;
    width: 50px;

    //justify-self: center;
  }

  .medal,
  .clap {
    position: absolute;
    font-size: 50px;
    margin-top: -70px;
    // left: 50%;
    transition: 1s all ease-out;
  }
  .activate-medal {
    transform: translateY(69px);
    // transition: 1s transform ease-out;
  }
  .activate-clap {
    transform: translateY(155%);
    // transition: 1s transform ease-out;
  }

  .trophy {
    position: absolute;
    font-size: 50px;
    bottom: -70px;
    //margin-left: -25px;
    transition: 1s transform ease-out;
  }

  .activate-trophy {
    transform: translateY(-70px);
    // transition: 1s transform ease-out;
  }

  .loser {
    position: absolute;
    font-size: 50px;
    display: flex;
    align-self: center;
    opacity: 0;
    //margin-left: -25px;
    transition: 1s opacity ease-out;
  }

  .activate-loser {
    opacity: 1;
  }
}

@keyframes test {
  25% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
  // 50% {
  //   border-bottom: 1px solid black;
  // }
  // 75% {
  //   border-left: 1px solid black;
  // }
  // 100% {
  //   border-top: 1px solid black;
  //   border-right: 1px solid black;
  //   border-bottom: 1px solid black;
  //   border-left: 1px solid rgb(168, 168, 168);
  // }
  // from {
  //   opacity: 0;
  // }
  // to {
  //   opacity: 1;
  // }
}
