.Audio {
  //background-color: green;
  //padding-left: 20px;

  // label {
  //   margin-left: 5px;
  // }

  input:hover,
  label:hover {
    cursor: pointer;
  }

  .Emoji {
    display: inline-block;
    transform: rotate(180deg);
    color: white;
    padding-left: 2px;
  }
}
