.BackdropSlidingMenu {
  background-color: rgba(40, 41, 41, 0.995);
  width: 101%;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 100px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  text-align: left;
  //transform: translatex(-101%);
  transition: transform 0.3s ease;

  input[type="number"] {
    width: 70px;
    //display: block;
  }

  input:invalid + span:after {
    content: "✖";
    padding-left: 5px;
  }

  input:valid + span:after {
    content: "✓";
    padding-left: 5px;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}
