$widthEachPage: 32.5%; //292
$heightInstructions: 20px;

.Instructions {
  background-color: #243535;
  //background-color: #2c3c60;
  //background-color: #515151;
  position: relative;
  margin-top: 20px;
  padding: 20px 10px 0px 10px;
  overflow: hidden;

  color: whitesmoke;
  text-align: left;
  font-size: 1.6rem;
  //z-index: 200;

  .instructions__container {
    // background-color: rgb(66, 32, 77);
    display: flex;
    width: 900px;
    overflow: hidden;
  }

  .wrapper {
    // background-color: white;
    display: flex;
    padding-top: 20px;
  }

  .ObjectiveInstructions {
    position: relative;
    width: 292px;
    width: $widthEachPage;
    padding-bottom: 10px;
    transition: transform 0.7s ease;
    //background-color: greenyellow;
  }

  .ScoreInstructions,
  .OptionsInstructions {
    //background-color: rgb(70, 70, 70);
    width: $widthEachPage;

    text-align: left;
    transition: transform 0.7s ease;
  }
  .ScoreInstructions {
    //background-color: rgb(101, 105, 105);
    margin-left: 15px;
    .nested-list {
      padding-left: 15px;
    }
    .nested-list li i::before {
      content: "\2799  ";
    }
  }

  .FooterInstructions {
    //background-color: darkcyan;
    //position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    padding: 3px 0;
    border-top: 1px solid lightcyan;
  }

  .turn-page {
    background-color: transparent;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  .OpenCloseInstructions {
    background-color: #282c34;
    position: absolute;
    top: 0;
    left: 0;
    height: $heightInstructions;
    width: 100%;
    transition: height 1.6s ease-out;
    z-index: 200;

    section {
      background-color: #282c34;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      opacity: 1;
      //transition: all 2s ease-in;

      .fa-angle-double-down {
        position: absolute;
        opacity: 1;
      }
      .fa-angle-double-up,
      .open {
        opacity: 0;
        transition: opacity 1.6s ease;
      }
      .close {
        opacity: 1;
        transition: opacity 1.6s ease 0.8s;
      }
      .fas {
        color: rgba(245, 245, 245, 0.746);
        background: transparent;
        line-height: $heightInstructions;
      }
    }
  }
}
