.DisplayCategory {
  //background-color: orange;
  background-color: lighten(#282c34, 10);
  margin: 20px 0 -20px;
  border: 1px solid gray;
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  //color: rgb(111, 187, 39);
  h2 {
    padding: 3px 11px;
    margin: 0px;
    font-size: 2.2rem;
    font-weight: 500;
    color: lightblue;
    color: orange;
    //color: rgb(245, 127, 225);
  }
}
