.Word {
  margin-top: 25px;
  font-size: 3rem;
  color: whitesmoke;

  span {
    position: relative;
  }

  .guess-right-wrong {
    font-size: 2rem;
    margin-left: 10px;
    opacity: 1;
    //display: none;
  }

  .guess-right-wrong {
    position: absolute;
    top: 25%;
    right: -100%;
  }
}
