.GameDifficulty {
  width: 343px;
  //height: 50px;
  color: inherit;

  div {
    // background-color: rgb(40, 189, 189);
    display: flex;
    align-items: center;
    margin: auto; //don't use width and justify content
  }

  .disabled {
    color: darkgrey;
    :hover {
      cursor: not-allowed;
    }
  }

  .RadioButton {
    // background-color: orange;

    :hover {
      cursor: pointer;
    }
    label {
      // background-color: green;
      padding-left: 5px;
    }
    input {
      -webkit-appearance: button;
    }
  }
}
