.App {
  //padding: 10px;
  font-size: 2rem;
  text-align: center;
  main {
    margin: 20px 3px;
    border: 1px solid gray;
    min-width: 314px;
  }

  .indicators {
    background-color: lightcoral;
    display: flex;
    justify-content: space-evenly;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
