.Audio {
  //background-color: green;

  label {
    margin-left: 5px;
  }

  input:hover,
  label:hover {
    cursor: pointer;
  }

  .Emoji {
    display: inline-block;
    transform: rotate(180deg);
    color: white;
    padding-left: 2px;
  }
}
